
.hero {
  /*background-color:rgb(100, 100, 100) !important;
  background-blend-mode: soft-light;*/
  background-image: url('http://res.cloudinary.com/cristiansam/image/upload/v1533171451/GPrimavera.png');
  display: flex;
  width: 100vw;
  height: 100vh;
  position: center;
  background-size: cover;
}
.title {
  display: flex;
  position: center;
  justify-content: center;
  font-family: 'Concert One', cursive;
  font-weight: 200;
  font-size: 5rem;
}
.subtitle {
  display: flex;
  position: center;
  justify-content: center;
  font-family: 'Poiret One', cursive;
}