
.hero {
background-color:rgb(100, 100, 100) !important;
  background-blend-mode: soft-light;
  background-image: url(https://images.unsplash.com/photo-1533129091504-3d31c43157a9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0aa2639e45816dd1e7aefaa4277fcf7f&auto=format&fit=crop&w=967&q=80);
  display: flex;
  width: 100vw;
  height: 100vh;
  position: center;
  background-size: cover;
}
.title {
  display: flex;
  position: center;
  justify-content: center;
  font-family: 'Concert One', cursive;
  font-weight: 200;
  font-size: 5rem;
}
.subtitle {
  display: flex;
  position: center;
  justify-content: center;
  font-family: 'Poiret One', cursive;
}